/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 12, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 15, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 18, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 21, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 24, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
  color: #fff;
  text-shadow: 0 1px 1px #000;
  font-size: 115%;
  font-weight: normal;
}

/* line 32, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 35, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 38, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
  margin-top: 1em;
}
/* line 41, ../sass/blocks.scss */
#block-block-1 p {
  margin: 0.3em 0 0 0;
}

/* line 46, ../sass/blocks.scss */
#block-block-2 {
  float: right;
  margin: 0;
  height: 45px;
  position: relative;
  top: -16px;
}

/* line 54, ../sass/blocks.scss */
#block-block-2 a {
  padding-left: 5px;
}

/* Islandora Blocks */
/* line 60, ../sass/blocks.scss */
#block-accordion-rotator-accordion-rotator {
  margin-bottom: 4em;
  box-shadow: 0 4px 2px -4px black;
  -webkit-box-shadow: 0 4px 2px -4px black;
}

/* line 66, ../sass/blocks.scss */
#block-islandora-solr-simple {
  margin-top: 0.6em;
  position: relative;
}
/* line 70, ../sass/blocks.scss */
#block-islandora-solr-simple .form-item {
  margin: 0;
}
/* line 73, ../sass/blocks.scss */
#block-islandora-solr-simple .form-text {
  width: 39%;
  font-family: 'News Cycle';
  color: #808184;
  float: right;
  height: 1.9em;
  padding-left: 0.5em;
  border: 1px solid #666;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  box-shadow: 0 4px 2px -2px #888888;
  -webkit-box-shadow: 0 4px 2px -2px #888888;
}
/* line 86, ../sass/blocks.scss */
#block-islandora-solr-simple .form-submit {
  background: url("../images/search.png") no-repeat;
  position: absolute;
  right: 15px;
  top: 3px;
  color: transparent;
  border: none;
  height: 28px;
  width: 28px;
}
/* line 96, ../sass/blocks.scss */
#block-islandora-solr-simple .contextual-links-trigger {
  display: none;
}

/* Menu Blocks */
/* line 103, ../sass/blocks.scss */
#block-menu-block-1, #block-islandora-solr-basic-facets, #block-islandora-solr-sort {
  background: #fefefe;
  border: 1px solid #35425F;
  border-top: none;
  margin: 0 -5px 1.5em;
}
/* line 109, ../sass/blocks.scss */
#block-menu-block-1 h2, #block-islandora-solr-basic-facets h2, #block-islandora-solr-sort h2 {
  background: url("../images/triangle.png") no-repeat 3px -2px #35425f;
  font-size: 90%;
  padding: 18px 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1.2pt;
}
/* line 117, ../sass/blocks.scss */
#block-menu-block-1 h3, #block-islandora-solr-basic-facets h3, #block-islandora-solr-sort h3 {
  font-size: 110%;
  font-weight: normal;
  margin-left: 1em;
  margin-bottom: 0;
  letter-spacing: 0.8pt;
}
/* line 125, ../sass/blocks.scss */
#block-menu-block-1 ul, #block-islandora-solr-basic-facets ul, #block-islandora-solr-sort ul {
  padding: 0 1em;
  margin-top: 1em;
}
/* line 128, ../sass/blocks.scss */
#block-menu-block-1 ul li, #block-islandora-solr-basic-facets ul li, #block-islandora-solr-sort ul li {
  list-style: none;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

/* Islandora Blocks */
/* line 139, ../sass/blocks.scss */
#block-islandora-solr-display-switch {
  position: absolute;
  right: 10px;
  max-width: 10%;
}
/* line 144, ../sass/blocks.scss */
#block-islandora-solr-display-switch ul {
  list-style: none;
  padding: 0;
  margin: 11px;
  min-width: 75px;
}

/* line 152, ../sass/blocks.scss */
ul.pager {
  margin: 1em 0;
}
/* line 157, ../sass/blocks.scss */
ul.pager li a {
  color: #35425F;
}
/* line 162, ../sass/blocks.scss */
ul.pager li.pager-current {
  color: #35425F;
  background: #cbcbcb;
  border: 1px solid #35425F;
}

/* line 171, ../sass/blocks.scss */
.islandora-solr-display li {
  float: left;
}
/* line 175, ../sass/blocks.scss */
.islandora-solr-display a.display-default, .islandora-solr-display a.display-grid, .islandora-solr-display a.display-table {
  background: url("../images/display-list.png") no-repeat top left;
  width: 25px;
  height: 22px;
  display: inline-block;
  text-indent: -9999px;
  outline: none;
}
/* line 182, ../sass/blocks.scss */
.islandora-solr-display a.display-grid {
  background: url("../images/display-grid.png") no-repeat top left;
}
/* line 186, ../sass/blocks.scss */
.islandora-solr-display a.display-table {
  background: url("../images/display-grid-list.png") no-repeat top left;
}

/* line 193, ../sass/blocks.scss */
#islandora-solr-top {
  position: absolute;
  margin: 10px;
}

/* line 198, ../sass/blocks.scss */
.dc-title {
  background: #dbdcdd;
}

/* line 202, ../sass/blocks.scss */
dl.solr-fields {
  float: left;
}

/* line 206, ../sass/blocks.scss */
dl.solr-grid-field {
  background: #C1C7D3;
  padding: 5px 5px 1em;
  width: 19%;
  border: 1px solid #999;
}
/* line 213, ../sass/blocks.scss */
dl.solr-grid-field dt.solr-grid-thumb img {
  display: block;
  margin: 0 auto;
}
/* line 218, ../sass/blocks.scss */
dl.solr-grid-field dd.solr-grid-caption {
  text-align: center;
  margin-top: 1em;
}
/* line 221, ../sass/blocks.scss */
dl.solr-grid-field dd.solr-grid-caption a {
  line-height: 1.3em;
  display: inline-block;
}

/* line 229, ../sass/blocks.scss */
.islandora-large-image-content {
  background: #C1C7D3;
  border-radius: 0;
  border: 1px solid #999;
}

/* line 236, ../sass/blocks.scss */
.islandora-large-image-sidebar h2 {
  text-shadow: 0 1px 1px #ccc;
  margin: 0;
  font-size: 110%;
}
/* line 241, ../sass/blocks.scss */
.islandora-large-image-sidebar p {
  margin-top: 0.5em;
  font-size: 90%;
}
/* line 245, ../sass/blocks.scss */
.islandora-large-image-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0.5em 0 0;
  font-size: 90%;
}

/* line 253, ../sass/blocks.scss */
.islandora-large-image-metadata {
  margin: 1.5em 0 0 -1.8em;
}

/* End Islandora stuff */
/* line 262, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 265, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 268, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 271, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 274, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 277, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 280, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 283, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 286, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 289, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 292, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 295, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 298, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 301, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 304, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 307, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 310, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 313, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 316, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 319, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 322, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 325, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 328, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 331, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}
