/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background: #666;
}

/* line 23, ../sass/pages.scss */
.front #page {
  background: #536895;
  color: #fff;
}

/* line 28, ../sass/pages.scss */
#page {
  background: #DBDCDD;
  color: #000;
  border-left: 15px solid black;
  border-right: 15px solid black;
  border-bottom: 5px solid black;
}

/**
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 41, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 45, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 59, ../sass/pages.scss */
#header {
  background: #000;
  padding-top: 12px;
}

/* line 64, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  margin: 0;
  padding: 0 6px 0 0;
}
/* line 69, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 74, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}
/* line 77, ../sass/pages.scss */
#name-and-slogan span {
  border-left: 1px solid #cccccc;
  padding-left: 8px;
}

/* line 83, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 1em;
  line-height: 2.5em;
  font-family: "Open Baskerville", georgia;
  font-style: italic;
  font-weight: normal;
}
/* line 92, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #fff;
  text-decoration: none;
}

/* line 102, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 107, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  /*clear: both; Clear the logo */
}

/* line 111, ../sass/pages.scss */
.bar_top, .bar_bottom {
  width: 100%;
  height: 2em;
  background: #536895;
}

/* line 116, ../sass/pages.scss */
.bar_bottom {
  height: 4em;
  margin-top: 2em;
  padding-top: 1.3em;
}

/* line 121, ../sass/pages.scss */
.bar_top {
  height: auto;
}

/*
 * Main (container for everything else)
 */
/* line 130, ../sass/pages.scss */
.not-front #main {
  overflow: hidden;
  margin-bottom: -2em;
}

/*
 * Content
 */
/* line 141, ../sass/pages.scss */
.not-front #content {
  padding-left: 2.5em;
}

/* line 148, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  padding-left: 9px;
  font-size: 70%;
  letter-spacing: 0.6pt;
  line-height: 1.5em;
}
/* line 153, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 157, ../sass/pages.scss */
.breadcrumb li {
  display: inline-block;
  list-style-type: none;
  margin: 5px;
  padding: 2px 5px 4px;
  border: 1px solid #555555;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 166, ../sass/pages.scss */
.breadcrumb li .islandora-solr-breadcrumb-super {
  font-size: 100%;
  position: relative;
  top: 4px;
  left: 1px;
}
/* line 172, ../sass/pages.scss */
.breadcrumb li:hover {
  background: #384664;
}

/* line 182, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 186, ../sass/pages.scss */
h1.title {
  color: #1D3251;
  background: #C1C7D3;
  font-size: 115%;
  letter-spacing: 0.5pt;
  text-shadow: 0 1px 1px #efefef;
  text-transform: uppercase;
  padding: 0.9em 2.9em;
  margin: 0 -0.7em 0 -2.5em;
}

/* line 197, ../sass/pages.scss */
h2 {
  color: #414042;
  font-size: 110%;
  font-family: "News Cycle", helvetica, arial;
  font-weight: normal;
  letter-spacing: 0.5pt;
  text-shadow: 0 1px 1px #888888;
}

/* line 207, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 211, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 215, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 218, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 224, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 228, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 233, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 236, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 240, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 244, ../sass/pages.scss */
.page-islandora .tabs {
  /* See also the tabs.css file. */
  margin-left: -1.8em !important;
}

/* line 248, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 251, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 254, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 257, ../sass/pages.scss */
ul.inline, .region-footer ul {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 261, ../sass/pages.scss */
ul.inline li, .region-footer ul li {
  list-style-type: none;
  padding: 0 1em 0 0;
}

/* line 266, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
}

/* line 270, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
}
/* line 272, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 277, ../sass/pages.scss */
.not-front .item-list .pager {
  position: relative;
  top: -24px;
}

/* line 282, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 285, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/* line 295, ../sass/pages.scss */
.region-sidebar-first {
  padding: 1.5em 0 9999px;
  color: 000;
  background: #C1C7D3;
  margin-bottom: -9999px;
}
/* line 301, ../sass/pages.scss */
.region-sidebar-first li a {
  color: #35425F;
}
/* line 304, ../sass/pages.scss */
.region-sidebar-first li a.active {
  color: #ffb300;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 323, ../sass/pages.scss */
#footer {
  background: #000;
  max-width: 98%;
  margin: 0 auto;
  color: white;
  box-shadow: 0 4px 2px -4px black;
  -webkit-box-shadow: 0 4px 2px -4px black;
}

/* line 332, ../sass/pages.scss */
.front #footer {
  margin: 1.5em auto;
}

/*
 * Page bottom
 */
/* line 340, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*
 * Islandora Overrides
 */
/* line 347, ../sass/pages.scss */
.plusminus {
  display: none;
}

/* line 351, ../sass/pages.scss */
.islandora-solr-search-result {
  background: #cacdd3;
  padding-top: 5px;
  box-shadow: 0 3px 3px -3px #808184;
  -webkit-box-shadow: 0 3px 3px -3px #808184;
  font-size: 85%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 361, ../sass/pages.scss */
dl.solr-thumb {
  padding: 0 5px 0 5px;
}
/* line 363, ../sass/pages.scss */
dl.solr-thumb img {
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
}

/* line 369, ../sass/pages.scss */
dt.solr-label {
  padding-left: 2px;
}

/* line 373, ../sass/pages.scss */
.section-about .breadcrumb {
  display: none;
}
